<div class="modal fade" id="addMeasurement" tabindex="-1" role="dialog" aria-labelledby="add-measurement"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column pb-0 w-100">
                <div class="d-flex flex-row justify-content-between w-100">
                    <h5 class="modal-title" id="exampleModalLabel">Nowy pomiar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <ul class="nav nav-tabs mt-2 mb-0 border-0" id="measurementsTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="#general2-tab" id="tab-general2" data-toggle="tab" role="tab"
                            aria-controls="general" aria-selected="true">
                            Ogólne
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#results-tab" id="tab-results" data-toggle="tab" role="tab"
                            aria-controls="results" aria-selected="false">
                            Wyniki
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#summary-tab" id="tab-summary" data-toggle="tab" role="tab"
                            aria-controls="summary" aria-selected="false">
                            Podsumowanie
                        </a>
                    </li>
                </ul>
            </div>
            <form id="form" class="needs-validation" novalidate autocomplete="off">
                <div class="modal-body">
                    <div class="tab-content" id="tabContent">

                        {{> ./tabs/_general}}
                        {{> ./tabs/_results}}
                        {{> ./tabs/_summary}}

                    </div>
                    <div class="form-group">
                        <label for="description">Adnotacje</label>
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </div>
            </form>
            <div id="formSend" class="progress bg-secondary custom-progress" role="progressbar">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>
</div>