<div class="modal fade" id="addValue" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="add-value"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Definiowanie wartości</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form-addValue" class="needs-validation" novalidate autocomplete="off">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="type" class="col-form-label">Typ</label>
                        <select class="form-control" id="type" name="type" required>
                            <option value="numeric" data-fields="unit" selected>Liczba (numeric)</option>
                            <option value="text" data-fields="">Tekst (text)</option>
                            <option value="enum" data-fields="list">Pojedynczy wybór (enum)</option>
                            <option value="sets" data-fields="list">Wielokrotny wybór (sets)</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group col-12 col-sm-6">
                            <label for="name">Nazwa</label>
                            <input class="form-control" type="text" id="name" name="name" autofocus required>
                        </div>
                        <div id="field-unit" class="var-field form-group col-12 col-sm-6">
                            <label for="unit">Jednostka</label>
                            <input class="form-control" type="text" id="unit" name="unit" required>
                        </div>
                    </div>
                    <div id="field-list" class="var-field form-group d-none">
                        <label for="list">Lista elementów</label>
                        <input class="form-control" type="text" id="list" name="list">
                        <small>Rozdziel poszczególne elementy listy przecinkiem, np. Tak, Nie, Nie wiem</small>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" checked id="required" name="required">
                        <label for="required" class="form-check-label">Definiowana wartość musi być
                            określona</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-success rounded-pill">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- {{#cache}}
    <script src="/app/values-createNew.js"></script>
{{/cache}} --}}