<!--Navbar-->
<nav class="navbar fixed-top shadow-none p-0">

    <div class="d-flex flex-row col-12 offset-md-4 col-md-8 offset-lg-3 col-lg-9 navbar-dark bg-dark shadow py-1">

        <button class="navbar-toggler text-white d-md-none ml-0 pl-0 collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarNav" aria-controls="basicExampleNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#">Health Journal</a>

    </div>

</nav>
<!--/.Navbar-->