<div class="tab-pane fade" id="results-tab" role="tabpanel" aria-labelledby="results-tab">

    <h3 id="examinationName" class="h5"></h3>

    <div id="alertNoExaminationSelect" class="alert alert-danger">
        <p class="mb-0">
            Zanim przejdziesz do wyników badania, wybierz uprzednio badanie w sekcji <strong>Ogólne</strong>
        </p>
    </div>

    <div id="results" class="d-flex flex-column w-100 py-3 border-top border-bottom mb-3">
    </div>

</div>