<div class="sidebar-spacer d-block d-md-none"></div>
<div class="sidebar-topnav row m-0 p-2 bg-dark unique-color shadow">
    <div class="col-4 px-3">
        <img class="user user-avatar img-thumbnail rounded-circle" src="{{ user.image }}">
    </div>
    <div class="col-8 pl-0 pr-3 mr-auto">
        <div class="d-flex flex-column">
            <div class="user user-name text-truncate">{{ user.displayName }}</div>
            {{!-- <div class="user user-email text-truncate">{{ user.email }}</div> --}}
        </div>
        <div class="d-flex flex-row w-100 justify-content-end">
            <a href="/account" class="btn btn-sm btn-light">
                Twój profil
            </a>
            <a href="/log/out" class="btn btn-sm px-2 btn-light">
                <svg viewBox="0 0 16 16" class="bi bi-power" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z" />
                    <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" />
                </svg>
            </a>
        </div>
    </div>
</div>