<div class="d-flex flex-row justify-content-between align-items-end mb-2">
	<h4 class="">Lista badań</h4>
	<nav>
		<button id="btn-add" class="btn btn-sm btn-primary rounded-pill" data-toggle="modal"
			data-target="#add-examination">
			<svg viewBox="0 0 16 16" class="mr-1 bi bi-plus" fill="currentColor">
				<path fill-rule="evenodd"
					d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
			</svg>
			Nowe badanie...
		</button>
	</nav>
</div>

<form id="form-list">
	<!-- Header of examination table -->
	<div class="row d-flex flex-row justify-content-between align-items-center bg-primary white-text p-0">
		<div>
			{{> _examinations/_viewOptionsMenu }}
			<button type="button" class="btn btn-flat shadow-none px-1 py-1 ml-0 white-text">
				Grupa/Nazwa badania
			</button>
		</div>
		<button type="button" class="btn btn-flat shadow-none px-1 py-1 white-text">
			Ostatni pomiar
		</button>
	</div>
	<!-- /Header of examination table -->

	<div id="examinationFetch" class="text-center my-3" role="status">
		<span class="spinner-border mr-2"></span>
		Wczytywanie...
	</div>
	<div id="examinationTable" class="d-flex flex-column w-100 p-0 border-bottom"></div>
</form>

<div class="modal fade" id="modal-noSelection" tabindex="-1" role="dialog" aria-labelledby="noSelection"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					<svg viewBox="0 0 16 16" class="mr-1 bi bi-info-circle" fill="currentColor">
						<path fill-rule="evenodd"
							d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
						<path
							d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
						<circle cx="8" cy="4.5" r="1" />
					</svg>
					<strong>Nie ma wybranych elementów</strong>
				</h5>
			</div>
			<div class="modal-body text-center">
				<p>Aby wykonać operację, konieczne jest wybranie przynajmniej jednego elementu z listy.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-red rounded-pill" data-dismiss="modal">Rozumiem</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-confirmGroupDelete" tabindex="-1" role="dialog" aria-labelledby="deleteGroup"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					<svg viewBox="0 0 17 16" class="bi bi-exclamation-triangle" fill="currentColor">
						<path fill-rule="evenodd"
							d="M7.938 2.016a.146.146 0 0 0-.054.057L1.027 13.74a.176.176 0 0 0-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 0 0 .066-.017.163.163 0 0 0 .055-.06.176.176 0 0 0-.003-.183L8.12 2.073a.146.146 0 0 0-.054-.057A.13.13 0 0 0 8.002 2a.13.13 0 0 0-.064.016zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
						<path
							d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
					</svg>
					<strong>Usunięcie grupy</strong>
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<p>Usuwając grupę usuniesz również badania do niej należące.</p>
				<p><strong>Czy napewno chcesz wykonać tą operację?</strong></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-dark rounded-pill" data-dismiss="modal">Zrezygnuj</button>
				<button id="btn-confirmGroupDelete" type="button" class="btn btn-red rounded-pill"
					data-dismiss="modal">Usuń</button>
			</div>
		</div>
	</div>
</div>

{{> _examinations/_addNew}}
{{> _examinations/_viewOptions}}