<div class="modal fade" id="add-examination" tabindex="-1" role="dialog" aria-labelledby="add-examination"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column pb-0 w-100">
                <div class="d-flex flex-row justify-content-between w-100">
                    <h5 class="modal-title" id="exampleModalLabel">Nowe badanie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <ul class="nav nav-tabs mt-2 mb-0 mdop" id="examinationTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="#general-tab" id="tab-general" data-toggle="tab" role="tab"
                            aria-controls="general" aria-selected="true">
                            Ogólne
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#values-tab" id="tab-values" data-toggle="tab" role="tab"
                            aria-controls="values" aria-selected="false">
                            Wartości
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#norms-tab" id="tab-norms" data-toggle="tab" role="tab"
                            aria-controls="values" aria-selected="false">
                            Normy
                        </a>
                    </li>
                </ul>
            </div>
            <form id="form" class="needs-validation" novalidate autocomplete="off">
                <div class="modal-body">

                    <div class="tab-content" id="tabContent">
                        {{> ./templates/_tabs/general}}
                        {{> ./templates/_tabs/values}}
                        {{> ./templates/_tabs/norms}}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-success rounded-pill">Zapisz</button>
                </div>
            </form>
            <div id="formSend" class="progress bg-secondary custom-progress" role="progressbar">
                <div class="indeterminate"></div>
            </div>

        </div>
    </div>
</div>