<div class="my-auto">
    <div class="px-0 col-12 col-sm-10 offset-sm-1 col-lg-6 offset-lg-3">

        <div class="card">
            <div class="card card-image" style="background-image: url('/assets/sidebar-bg.jpg');">
                <div class="text-white text-center py-5 px-4">
                    <div>
                        <h2 class="card-title h1-responsive pt-3 mb-1 border-bottom font-bold">
                            <strong>Health Diary</strong>
                        </h2>
                        <p class="mx-5">
                            Keep your healt on hand.
                        </p>
                        {{!-- <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> View project</a> --}}
                    </div>
                </div>
            </div>
            <div class="progress bg-secondary custom-progress">
                <div class="indeterminate"></div>
            </div>

            <main class="card-body" role="main"></main>
        </div>
    </div>
</div>