.dropdown-toggle {
	&.noCaret {
		&:before, &:after {
  		display: none	 !important;
		}
	}
}

//

.no-outline {
  outline: none;
}

//

nav.fixed-bottom {
  z-index:99;
}

/*
 * Bootstrap icon
 */

.bi {
    position: relative;
    top:-2px;
    width: 1.5em;
    height: 1.5em;
  &.bi-sm {
    width: 1em;
    height: 1em;
  }
}

.badge-overlay {
  position: relative;

  span.badge {
    position:absolute;
    transform: translate(-0%,240%);
    font-size:.8em;
  }
}

.cornerButton {
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	position:fixed;
	bottom:1.5em;
	right:1.5em;
}

.valid-error {
	position:absolute;
	&.no-float { position:relative; }
	// width:100%;

	// border:lightgray solid 1px;
	background-color:white;
	padding:.5em 1em;
	box-shadow:0px 5px 5px rgba(0,0,0,.35);
	border-bottom-left-radius:.5em;
	border-bottom-right-radius:.5em;

	transform:translate(0px,-1px);

	display:flex;
	flex-direction: row;
	align-items: center;

	z-index:10;
	svg { float:left; margin-right:.5em; }
}