// Your variable overrides
$enable-gradients: true;
$border-color: rgba(0,0,0,.20);
$nav-tabs-border-color: rgba(0,0,0,.20);

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/mdbootstrap/scss/mdb-free.scss";

//

.no-outline {
  outline: none;
}

// 

.container-fluid {
    padding-left:unset;
    padding-right:unset;
}

nav.fixed-bottom {
  z-index:99;
}

.navbar .navbar-toggler {
    border: none;
    outline: none !important;
}

/*
 * Bootstrap icon
 */

.bi {
    position: relative;
    top:-2px;
    width: 1.5em;
    height: 1.5em;
  &.bi-sm {
    width: 1em;
    height: 1em;
  }
}
